---
layout: archive
title: "Teaching"
permalink: /teaching/
author_profile: true
---

{% include base_path %}

{% for post in site.teaching reversed %}
  {% include archive-single.html %}

## Teaching
I have been teaching courses on **Urban Data Analytics** and **U.S. Housing Policy and Planning** at UC Berkeley's Department of City and Regional Planning as an instructor. From Fall 2024, I will also be instructing [UC Berkeley D-lab](https://dlab.berkeley.edu/)'s **Data Science Workshops** as a Data Science Fellow.


{% endfor %}
